<%- include("partials/header");%>
<div class="container">
	<div class="jumbotron mt-4">
		<h1 class="display-4">Welcome to YelpCamp</h1>
		<p class="lead">View our hand-picked campgrounds from all over the world</p>
		<a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add new campground</a>
	</div>

	<div class="row">
		<%
			campgrounds.forEach(campground => {
		%>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="card">
				<img src="<%=campground.image%>" class="card-img-top" alt="<%=campground.name%>">
				<div class="card-body">
					<h5 class="card-title"><%=campground.name%></h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
						card's content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<%
			});
		%>
	</div>

</div>
<%- include("partials/footer");%>